@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<nav class="u-menu u-menu-one-level u-offcanvas u-menu-2">
    <div class="menu-collapse">
        <a class="u-button-style u-nav-link" href="#">
            <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b549"></use></svg>
            <svg class="u-svg-content" version="1.1" id="svg-b549" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
                </g>
            </svg>
        </a>

    </div>
    @if (SignInManager.IsSignedIn(User))
    {
<!--
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" style="color: white;" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link" style="color: white;">Logout</button>
            </form>
        </li>
        -->
        <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#">
                <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b549"></use></svg>
                <svg class="u-svg-content" version="1.1" id="svg-b549" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
                    </g>
                </svg>
            </a>
        </div>

        <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled">
                <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" style="color: white;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
                </li>
                <li class="u-nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <button type="submit" class="nav-link btn btn-link" style="color: white;">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                <div class="u-inner-container-layout u-sidenav-overflow">
                    <div class="u-menu-close"></div>
                    <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-4">
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
                        </li>
                        <li class="u-nav-item">
                                       <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link" style="color: white;">Logout</button>
            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>

    }
    else
    {
        <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#">
                <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b549"></use></svg>
                <svg class="u-svg-content" version="1.1" id="svg-b549" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
                    </g>
                </svg>
            </a>
        </div>

        <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled">
                <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" style="color: white;" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </li>
                <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" style="color: white;" asp-area="Identity" asp-page="/Account/Login">Log In</a>
                </li>
            </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                <div class="u-inner-container-layout u-sidenav-overflow">
                    <div class="u-menu-close"></div>
                    <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-4">
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link" asp-area="Identity" asp-page="/Account/Login">Log in</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>

    }
</nav>
