@page
@model ContactManager.Pages.Contacts.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<h2 class="u-custom-font u-text u-text-body-alt-color u-text-1">Delete Contact</h2>

<h4 style="color: red;"><b>!!! This Contact will be deleted!!!!</b></h4>
<div>
    <dl class="row">
        <dt class="col-sm-2" style="color: white;">
            @Html.DisplayNameFor(model => model.Contact.Name)
        </dt>
        <dd class="col-sm-10" style="color: white;">
            @Html.DisplayFor(model => model.Contact.Name)
        </dd>
        <dt class="col-sm-2" style="color: white;">
            @Html.DisplayNameFor(model => model.Contact.Address)
        </dt>
        <dd class="col-sm-10" style="color: white;">
            @Html.DisplayFor(model => model.Contact.Address)
        </dd>
        <dt class="col-sm-2" style="color: white;">
            @Html.DisplayNameFor(model => model.Contact.City)
        </dt>
        <dd class="col-sm-10" style="color: white;">
            @Html.DisplayFor(model => model.Contact.City)
        </dd>
        <dt class="col-sm-2" style="color: white;">
            @Html.DisplayNameFor(model => model.Contact.State)
        </dt>
        <dd class="col-sm-10" style="color: white;">
            @Html.DisplayFor(model => model.Contact.State)
        </dd>
        <dt class="col-sm-2" style="color: white;">
            @Html.DisplayNameFor(model => model.Contact.Zip)
        </dt>
        <dd class="col-sm-10" style="color: white;">
            @Html.DisplayFor(model => model.Contact.Zip)
        </dd>
        <dt class="col-sm-2" style="color: white;">
            @Html.DisplayNameFor(model => model.Contact.Email)
        </dt>
        <dd class="col-sm-10" style="color: white;">
            @Html.DisplayFor(model => model.Contact.Email)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Contact.ContactId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
